################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/daniel/FileContentIndex/5a81d2f1-d023-4c7c-9e27-383d413e3be6.vsidx
