################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/daniel/FileContentIndex/5a81d2f1-d023-4c7c-9e27-383d413e3be6.vsidx
/.vs/daniel/FileContentIndex/7bf8706d-3f82-482f-9670-87e4484615dc.vsidx
/.vs/WebApplication-Daniel/FileContentIndex/5cb34d52-dbca-4482-913e-e5758d2d4c19.vsidx
/.vs/WebApplication-Daniel/FileContentIndex/9b887cc9-7f81-4354-a445-9cef8bc83191.vsidx
/.vs/daniel/FileContentIndex
